body {
    padding-top: 70px;
}

table,
th,
td {
    border: 1px solid #333;
    text-align: center;
}

#zero{
    background-color: darkgrey;
}
.dates {
    border-bottom: 3px solid #333;
}

.exercises {
    border-right: 3px solid #333
}